includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max

    parallel:
       maximumNumberOfProcesses: 6
    tmpDir: storage/tmp/phpstan

    paths:
        - app
        - database
        #- config

